<header>
    <div class="container nav-container">
        <a href="index.html" class="logo"><img src="assets/images/logo.png"></a>
        
        <button class="burger-btn" id="burgerBtn">☰</button>
        
        <nav>
            <ul class="nav-menu" id="navMenu">
                <li><a href="about.html">О компании</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="partners.html">Партнерство</a></li>
                <li><a href="customers.html">Покупателям</a></li>
                <li><a href="suppliers.html">Поставщикам</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li class="mobile-phone-link">
                        +7 (831) 215-12-31
                </li>
            </ul>
        </nav>
        
        <div class="header-phone">
            +7 (831) 215-12-31
        </div>
    </div>
</header>