.catalog {
    padding-top: 80px;

    @media (max-width: 576px) {
        padding-top: 60px;
    }
}

.catalog-page-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в строке на десктопе */
    gap: 70px; 
    margin-top: 60px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr); /* 2 карточки на планшетах */
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr; /* 1 карточка на мобильных */
        gap: 20px;
        margin-top: -10px;
    }

    .product-card {
    background: var(--bg-light);
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow-soft);
    transition: 0.4s;
    text-align: center;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    height: 100%; 

    &:hover {
        transform: translateY(-10px);
        box-shadow: var(--shadow-hover);
        border-color: rgba(230, 172, 0, 0.3);
    }

    .card-img-wrap {
        padding-top: 20px;
        height: 220px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        position: relative;
        overflow: hidden;
    }

    .card-content {
        padding: 25px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            margin-bottom: 65px;
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--primary-color);
           
        }
    }

    .card-link {
        color: var(--accent-color);
        font-size: 1.2rem !important;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-top: auto;
        display: inline-block;
    }
}
}

.filter-bar {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;

    .filter-title {
        font-weight: 700;
        font-size: 1.3rem;
        padding-right: 30px;
        white-space: nowrap; 
    }

    .filter-tag {
        padding: 10px 25px;
        border-radius: 25px;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
        color: var(--primary-color);
        white-space: nowrap; 

        &:hover,
        &.active {
            background: var(--accent-color);
            color: var(--white);
            font-weight: 700;
        }
    }
}


@media (max-width: 768px) {
    .filter-bar {
        justify-content: flex-start;
        gap: 10px;
        padding-bottom: 10px;

        .filter-title {
            padding-right: 10px;
            margin-left: 0;
            font-size: 1.1rem;
        }

        .filter-tag {
            padding: 8px 15px;
            font-size: 0.9rem;
            flex-shrink: 0;
        }
    }
}

@media (max-width: 480px) {
    .filter-bar {
        margin-top: -40px;
        gap: 8px;
        margin-left: 20px;
        
        .filter-title {
            font-size: 1.1rem;
        }
        
        .filter-tag {
            padding: 6px px;
            font-size: 0.9rem;
        }
    }

    .product-card {
        width: 290px;
        height: 400px;

        .card-link {
            font-size: 1.2rem !important;
        }
    }
}