h1, h2 {
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: var(--bg-light);
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem !important;
    color: var(--primary-color);
    line-height: 1.6;
    margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}