.partners-description {
    margin: 40px 0 60px;
    font-size: 1.15rem !important;
    line-height: 1.7;
    color: var(--text-color);
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    
    p {
        margin-bottom: 25px;
        text-align: justify;
        hyphens: auto;
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
    .partners-list {
        margin: 30px 0 35px;
        padding-left: 25px;
        list-style-type: disc;
        
        li {
            margin-bottom: 20px;
            text-align: justify;
            hyphens: auto;
            padding-left: 5px;
            line-height: 1.65;
            
            &:last-child {
                margin-bottom: 0;
            }
            
            &::marker {
                color: #000;
                font-size: 1.2rem;
            }
        }
    }
    
    .email-link {
        color: var(--accent-color);
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease;
        display: inline-block;
        
        &:hover {
            color: darken(#e6ac00, 15%);
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 4px;
        }
    }
    
    @media (max-width: 768px) {
        font-size: 1.05rem;
        line-height: 1.6;
        margin: 30px 0 40px;
        
        p {
            margin-bottom: 20px;
            text-align: left;
        }
        
        .partners-list {
            margin: 22px 0 28px;
            padding-left: 20px;
            
            li {
                margin-bottom: 16px;
                line-height: 1.55;
            }
        }
    }
    
    @media (max-width: 480px) {
        
        .partners-description {
            font-size: 0.95rem;
            line-height: 1.5;
            margin: 20px 0 30px;
            
            p {
                margin-bottom: 16px;
            }
            
            .partners-list {
                margin: 18px 0 22px;
                padding-left: 16px;
                
                li {
                    margin-bottom: 12px;
                    line-height: 1.45;
                }
            }
        }
    }
    
    @media (max-width: 360px) {
        .partners-description {
            font-size: 0.9rem;
            margin: 18px 0 25px;
            
            p {
                margin-bottom: 14px;
            }
            
            .partners-list {
                margin: 16px 0 20px;
                padding-left: 15px;
                
                li {
                    margin-bottom: 10px;
                    line-height: 1.4;
                }
            }
        }
    }
}